extends baseEmail

block content
    strong Hi #{firstName},
    if type == 'active'
        h4 Congratulations! Account Approved
        p Your account has been successfully reviewed and approved. You can now kindly 
            a(href=`${url}`, target='_blank') Login to your dashboard
        |    fund and proceed to invest in our platform.
        p
        | Best Regards,
        br
        strong Customer Support Team.
    else if type == 'account_denied'
        h4 Sorry! Account Denied
        p Thank you for registering in our platform.
        p
        | Unfortunately, Your account was successfully reviewed but denied from approval due to some certain reasons.
        | Kindly contact our support team to urgently find out why.
        p
        | Also, our Support Team will definitely contact you as soon as possible with regards to
       
        | this and the actual reasons for disapproval.
        p
        | Best Regards,
        br
        strong Customer Support Team.
    else 
        h4 Account Deactivated
        p Your account has been deactivated. If you believe this is an error or have any questions, please contact our Support Team for further assistance.
        p
        | Best Regards,
        br
        strong Customer Support Team.